header{
	text-align: center;
}

.head
{
	font-size: 40px;
	font-weight: bold;
	margin-left: 50px;
	margin-right: 50px;
	display: inline;
}

.ejercicios, .validador
{
	text-align: center;

}

button
{
	background-color: blue;
	color: white;
	font-size: 24px;
	border-radius: 8px;
}

#texto, #confirm
{
	font-size: large;
	color: red;
	text-shadow: 1px 1px black;
}