<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Lab 10: Manejo de formas con php y modelo de capas</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item active">
		  <a class="nav-link" href="#forma">Forma <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="#preguntas">Preguntas <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item active">
		  <a class="nav-link" href="#referencias">Referencias <span class="sr-only">(current)</span></a>
		</li>
	  </ul>
	</div>
  </nav>