<div id="referencias">
	<h2>Referencias</h2>
	<div class="list-group">
		<ol>
			<li>
				<a href="https://www.w3schools.com/php/default.asp" target="_blank" class="list-group-item list-group-item-action ">
					https://www.w3schools.com/php/default.asp
				  </a>
			</li>
			<li>
				<a href="https://medium.com/@jpmorris/how-to-prevent-xss-attacks-by-escaping-output-in-php-942204bf184" target="_blank" class="list-group-item list-group-item-action">
					https://medium.com/@jpmorris/how-to-prevent-xss-attacks-by-escaping-output-in-php-942204bf184
				</a>
			</li>
			
		</ol>
	  </div>
</div>