<div id="stored_procedures">
	<h2>Stored Procedures</h2>
	<div class="text-center">
		<h3>Procedimiento queryMaterial</h3>
		<form method="POST" >
			<label for="Descripcion">Descripcion cómo:</label>
			<input class="form-control col-md-4 mx-auto" type="text" name="Descripcion" id="Descripcion">

			<label for="Costo">Con costo mayor a:</label>
			<input class="form-control col-md-4 mx-auto" type="number" name="Costo" id="Costo" pattern="^\d*(\.\d{0,2})?$"> 
			<br/>
			<button type="submit" class="btn btn-primary">Buscar</button>
		</form>
	</div>
