<div id="preguntas">
	<h2>Preguntas</h2>
	<div class="accordion" id="accordionExample">
		<div class="card">
		  <div class="card-header" id="pregunta1">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				¿Por qué es una buena práctica separar el modelo del controlador?
			  </button>
			</h2>
		  </div>
	  
		  <div id="collapseOne" class="collapse" aria-labelledby="pregunta1" data-parent="#accordionExample">
			<div class="card-body">
				<div class="alert alert-info" role="alert">
					Es buena práctica ya que esto permite que haya una mejor estructura en el código. Al separar las capas, se logra una mayor 
					mantenibilidad y reusabilidad del código.
				</div> 
			</div>
			
		  </div>
		</div>
		<div class="card">
		  <div class="card-header" id="pregunta2">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				¿Qué es SQL injection y cómo se puede prevenir?
			  </button>
			</h2>
		  </div>
		  <div id="collapseTwo" class="collapse" aria-labelledby="pregunta2" data-parent="#accordionExample">
			<div class="card-body">
				<div class="alert alert-info" role="alert">
					SQL Injection es un tipo de ataque en donde un hacker inserta código malicioso en un input de algún formulario de una página web y este 
					código es ejecutado por la base de datos. Esto puede llevar desde obtener datos de la base de datos, modificar de permisos o incluso eliminar 
					todos los registros.[1]
					<br/>
					El SQL Injection se puede prevenir al usar queries parametrizados. Esto se logra al definir primero todo el código SQL y después pasar 
					como parámetros los datos ingresados por el usuario. Esto asegura que todo lo que meta un usuario no será interpretado como código. [2] 
			    </div> 
			</div>
		  </div>
		</div>
</div>
<hr/>