<div id="referencias">
	<h2>Referencias</h2>
	<div class="list-group">
		<ol>
			<li>
				<a href="https://medium.com/visually-explained/sql-injection-attacks-visually-explained-c71b5f9e1af2" target="_blank" class="list-group-item list-group-item-action">
					https://medium.com/visually-explained/sql-injection-attacks-visually-explained-c71b5f9e1af2
				</a>
			</li>
			<li>
				<a href="https://cheatsheetseries.owasp.org/cheatsheets/SQL_Injection_Prevention_Cheat_Sheet.html" target="_blank" class="list-group-item list-group-item-action ">
					https://cheatsheetseries.owasp.org/cheatsheets/SQL_Injection_Prevention_Cheat_Sheet.html
				  </a>
			</li>
		</ol>
	  </div>
</div>