<div id="referencias">
	<h2>Referencias</h2>
	<div class="list-group">
		<ol>
			<li>
				<a href="https://www.php.net/manual/en/function.phpinfo.php" target="_blank" class="list-group-item list-group-item-action ">
					https://www.php.net/manual/en/function.phpinfo.php
				  </a>
			</li>
			<li>
				<a href="https://www.codementor.io/php/tutorial/how-to-setup-php-development-production-server" target="_blank" class="list-group-item list-group-item-action">
					https://www.codementor.io/php/tutorial/how-to-setup-php-development-production-server
				</a>
			</li>
			<li>
				<a href="https://stackoverflow.com/questions/13840429/what-is-the-difference-between-client-side-and-server-side-programming" target="_blank" class="list-group-item list-group-item-action">
					https://stackoverflow.com/questions/13840429/what-is-the-difference-between-client-side-and-server-side-programming
				</a>
			</li>
			
		</ol>
	  </div>
</div>