
<div id="miForma" class="text-center">

	
		<!--<?= crear_select("Numero", "Denominacion", "Proyectos", false); ?>-->
		<label  for="Proyectos">Proyectos</label>
		<input class="form-control col-md-4 mx-auto" type="text" placeholder="Aztecon"  id="userInputProyectos" onkeyup="sendRequest('Proyectos')">
		<div id="ajaxResponseProyectos"></div>
		<input type="hidden" name="Proyectos" id="Proyectos" value="">
		<?= crear_select("RFC", "RazonSocial", "Proveedores", false); ?>
		<?= crear_select("Clave", "Descripcion", "Materiales", false); ?>
		<br/>
		<button id="buscar" class="btn btn-primary">Buscar</button>
		

	<br/>
</div>

<div id="botonAgregar" class="clearfix">
	<a class='btn btn-info float-right' id="btnAgregar" href='controlador_registra_entrega.php' role='button'>Agregar Entrega<span class='material-icons'>control_point</span></a>
</div>
	