<div id="preguntas">
	<h2>Preguntas</h2>
	<div class="accordion" id="accordionExample">
		<div class="card">
		  <div class="card-header" id="pregunta1">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				Elabora un diagrama y explica cómo funciona AJAX.
			  </button>
			</h2>
		  </div>
	  
		  <div id="collapseOne" class="collapse" aria-labelledby="pregunta1" data-parent="#accordionExample">
			<div class="card-body">
				<div class="alert alert-info" role="alert">
					<img src="images/diagrama.jpg" id="diagrama" class="img-fluid img-thumbnail">
				</div> 
			</div>
			
		  </div>
		</div>
		<div class="card">
		  <div class="card-header" id="pregunta2">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				¿Qué alternativas a jQuery existen?
			</button>
			</h2>
		  </div>
		  <div id="collapseTwo" class="collapse" aria-labelledby="pregunta2" data-parent="#accordionExample">
			<div class="card-body">
				<div class="alert alert-info" role="alert">
					
				</div> 
			</div>
		  </div>
		</div>
		<div class="card">
			<div class="card-header" id="pregunta3">
			  <h2 class="mb-0">
				<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
					¿Qué es una promesa en js?
			  </h2>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="pregunta3" data-parent="#accordionExample">
			  <div class="card-body">
				  <div class="alert alert-info" role="alert">
					 
				  </div> 
			  </div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="pregunta4">
			  <h2 class="mb-0">
				<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
					¿Cómo funcionan async y await?
			  </h2>
			</div>
			<div id="collapseFour" class="collapse" aria-labelledby="pregunta4" data-parent="#accordionExample">
			  <div class="card-body">
				  <div class="alert alert-info" role="alert">
					 
				  </div> 
			  </div>
			</div>
		</div>
</div>
<hr/>