<div id="preguntas">
	<h2>Preguntas</h2>
	<div class="accordion" id="accordionExample">
		<div class="card">
		  <div class="card-header" id="pregunta1">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				Elabora un diagrama y explica cómo funciona AJAX.
			  </button>
			</h2>
		  </div>
	  
		  <div id="collapseOne" class="collapse" aria-labelledby="pregunta1" data-parent="#accordionExample">
			<div class="card-body">
				<div class="alert alert-info" role="alert">
					<img src="images/diagrama.jpg" id="diagrama" class="img-fluid img-thumbnail mx-auto d-block">
					<ol>
						<h5><strong>Sin AJAX:</strong></h5>
						<li>El usuario entra a la página y manda peticiones HTTP tipo POST o GET</li>
						<li>El servidor guarda temporalmente los datos en variables de sesión</li>
						<li>El servidor regresa una respuesta HTTP mostrando los resultados de la petición </li>
						<h5><strong>Con AJAX:</strong></h5>
						<li>El usuario realiza un evento que manda peticiones XML HTTP tipo POST o GET</li>
						<li>El servidor procesa los scripts de la petición y genera el HTML necesario</li>
						<li>El servidor regresa una respuesta XML HTTP actualizando unicamente una sección específica de la página </li>
						<li>Este proceso se repite cada vez que el usuario realiza una acción que genera un evento en la página web 
							(Siempre y cuando la funcionalidad para ello esté programada)</li>
					</ol>
				</div> 
			</div>
			
		  </div>
		</div>
		<div class="card">
		  <div class="card-header" id="pregunta2">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				¿Qué alternativas a jQuery existen?[1]
			</button>
			</h2>
		  </div>
		  <div id="collapseTwo" class="collapse" aria-labelledby="pregunta2" data-parent="#accordionExample">
			<div class="card-body">
				<div class="alert alert-info" role="alert">
					<ul>
						<li>
							<strong>JavaScript:</strong> Hoy en día la mayoría de las funciones que tiene jQuery también se pueden programar usando 
							JavaScript plano. Sin embargo, esto puede causar que el código sea muy difícil de entender y poco mantenible
						</li>
						<li>
							<strong>Cash:</strong> Este es un plugin muy pequeño (aproximadamente 10% del tamaño de jQuery) que soporta navegadores
							 arriba de IE10+. Su sintaxis es muy similar a jQuery aunque no ofrece absolutamente todos las características que tiene jQuery.
						</li>
						<li>
							<strong>UmbrellaJS:</strong> Una libreria muy influenciada por jQuery que tiene algunas características extra comparado a jQuery.
							 Tiene soporte para navegadores arriba de IE11+. Una característica que tiene es que puedes usar metodos nativos de JavaScript en los
							 selectores de UmbrellaJS
						</li>
					</ul>
				</div> 
			</div>
		  </div>
		</div>
		<div class="card">
			<div class="card-header" id="pregunta3">
			  <h2 class="mb-0">
				<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
					¿Qué es una promesa en js?[2]
			  </h2>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="pregunta3" data-parent="#accordionExample">
			  <div class="card-body">
				  <div class="alert alert-info" role="alert">
					 Una promesa es un objeto que permite hacer de una manera más fácil peticiones asíncronas. Para lograr esto, la promesa tiene 3 estados:
					 <ul>
						 <li><strong>pending: </strong> La promesa se encuentra en este estado cuando la petición sigue ejecutándose</li>
						 <li><strong>fulfilled: </strong> La promesa se encuentra en este estado cuando la petición fue completada exitosamente. Al llegar
						 a este estado, se ejecuta la función pasada en el .then()</li>
						 <li><strong>rejected: </strong>La promesa se encuentra en este estado si la petición no se pudo completar  Al llegar
							a este estado, se ejecuta la función pasada en el .catch()</li>
					 </ul>
				  </div> 
			  </div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="pregunta4">
			  <h2 class="mb-0">
				<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
					¿Cómo funcionan async y await?[2]
			  </h2>
			</div>
			<div id="collapseFour" class="collapse" aria-labelledby="pregunta4" data-parent="#accordionExample">
			  <div class="card-body">
				  <div class="alert alert-info" role="alert">
					<ul>
						<li><strong>async: </strong> Le permite saber al motor del navegador web que una función va a tener llamadas a funciones asíncronas.</li>
						<li><strong>await: </strong> Le permite saber al motor que una función es asíncrona y que debe de esperar a que se ejecute antes de continuar.</li>
					</ul>
					Es importante tomar en cuenta que las funciones con <em>async</em> regresan el resultado en una promesa por lo que es necesario usar 
					 .then() para acceder a este. Además, para manejar los errores se debe de poner todo el código en un bloque try/catch.
				  </div> 
			  </div>
			</div>
		</div>
</div>
<hr/>