<div id="referencias">
	<h2>Referencias</h2>
	<div class="list-group">
		<ol>
			<li>
				<a href="https://www.educba.com/jquery-alternatives/" target="_blank" class="list-group-item list-group-item-action">
					https://www.educba.com/jquery-alternatives/
				</a>
			</li>
			<li>
				<a href="https://www.freecodecamp.org/news/the-evolution-of-async-javascript-from-callbacks-to-promises-to-async-await-e73b047f2f40/" target="_blank" class="list-group-item list-group-item-action">
					https://www.freecodecamp.org/news/the-evolution-of-async-javascript-from-callbacks-to-promises-to-async-await-e73b047f2f40/
				</a>
			</li>
		</ol>
	  </div>
</div>