<div id="preguntas">
	<h2>Preguntas</h2>
	<div class="accordion" id="accordionExample">
		<div class="card">
		  <div class="card-header" id="pregunta1">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?
			  </button>
			</h2>
		  </div>
	  
		  <div id="collapseOne" class="collapse" aria-labelledby="pregunta1" data-parent="#accordionExample">
			<div class="card-body">
				<div class="alert alert-info" role="alert">
					<strong>Ventajas[1]:</strong>
					<ul>
						<li>
							Los servicios web hacen más fácil la creación de aplicaciones web ya que puedes usar herramientas creadas por otras personas/empresas en vez
							de reinventar todo.
						</li>
						<li>
							Los servicios web permiten que varias aplicaciones se comuniquen entre si por lo que hacen que la aplicación
							web sea independiente de la tecnología usada.
						</li>
						<li>
							Todos los servicios web usan un protocolo estandarizado para comunicarse.
						</li>
					</ul>

					<strong>Desventajas[2]:</strong>
					<ul>
						<li>
							No es seguro que un servicio web esté disponible las 24 horas del día por lo que las funciones que usen servicios web en una aplicación 
							pueden llegar a fallar.
						</li>
						<li>
							Los servicios web están hechos para dar soluciones generales por lo que es muy difícil que exista alguno que de una funcionalidad muy 
							específica en una aplicación web.
						</li>
						<li>
							Las funciones que usan servicios web se vuelven completamente dependientes de los desarrolladores de este servicio ya que pueden llegar 
							a tener errores si hay algún cambio en la manera en la que funciona el servicio web.
						</li>
					</ul>
				</div> 
			</div>
			
		  </div>
		</div>
	  </div>
</div>
<hr/>