<div id="referencias">
	<h2>Referencias</h2>
	<div class="list-group">
		<ol>
			<li>
				<a href="https://www.tutorialspoint.com/webservices/why_web_services.htm" target="_blank" class="list-group-item list-group-item-action ">
					https://www.tutorialspoint.com/webservices/why_web_services.htm
				</a>
			</li>
			<li>
				<a href="https://www.informit.com/articles/article.aspx?p=31729" target="_blank" class="list-group-item list-group-item-action ">
					https://www.informit.com/articles/article.aspx?p=31729
				</a>
			</li>

		</ol>
	  </div>
</div>