<div id="api">

	<div class="card text-center">
		<div class="card-header h3">
		  <?= $data["name"] ?>
		</div>
		<div class="card-body">
			<img src="<?= $data["badgeUrls"]["medium"]; ?>" />
		  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		  <a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
		<div class="card-footer text-muted">
		</div>
	  </div>

	<table border="1">
		<tr>
		<td rowspan="11">Clan level : <?php echo $data["clanLevel"]; ?><br/><img src="<?php echo $data["badgeUrls"]["medium"]; ?>" alt="<?php echo $data["name"]; ?>"/></td>
		<td><?php echo $data["name"]; ?></td><td><?php echo $data["tag"]; ?></td>
		<td rowspan="11"><?php echo $data["description"]; ?></td>
		</tr>
		<tr>
		<td>Total points</td><td><?php echo $data["clanPoints"]; ?></td>
		</tr>
		<tr>
		<td>Wars won</td><td><?php echo $data["warWins"]; ?></td>
		</tr>
		<tr>
		<td>War win streak</td><td><?php echo $data["warWinStreak"]; ?></td>
		</tr>
		<tr>
		<td>Wars drawn</td><td><?php echo $data["warTies"]; ?></td>
		</tr>
		<tr>
		<td>Wars lost</td><td><?php echo $data["warLosses"]; ?></td>
		</tr>
		<tr>
		<td>Members</td><td><?php echo $data["members"]; ?>/50</td>
		</tr>
		<tr>
		<td>Type</td><td><?php echo $data["type"]; ?></td>
		</tr>
		<tr>
		<td>Required trophies</td><td><?php echo $data["requiredTrophies"]; ?></td>
		</tr>
		<tr>
		<td>War frequency</td><td><?php echo $data["warFrequency"]; ?></td>
		</tr>
		<tr>
		<td>Clan location</td><td><?php echo $data["location"]["name"]; ?></td>
		</tr>
	</table>
	<table border="1">
	<?php
	foreach ($members as $member) {
	?>
		<tr>
		<td><?php echo $member["clanRank"], "(", $member["previousClanRank"], ")"; ?></td>
		<td><img src="<?php echo $member["league"]["iconUrls"]["tiny"]; ?>" alt="<?php echo $member["league"]["name"]; ?>"/></td>
		<td><?php echo $member["expLevel"]; ?></td>
		<td><?php echo "<b>", $member["name"], "</b><br/>", $member["role"]; ?></td>
		<td>Donated:<br/><?php echo $member["donations"]; ?></td>
		<td>Received:<br/><?php echo $member["donationsReceived"]; ?></td>
		<td><?php echo $member["trophies"]; ?></td>
		</tr>
	<?php
	}
	?>
	</table>
</div>