<div id="api" class="mx-auto">

	<div class="card text-center">
		<div class="card-header">
			<h1><?= $clanData["name"] ?></h1>
			<p>"<?= $clanData["description"] ?>"</p>
			<p class="text-muted"><?= $clanData["tag"]; ?></p>
		</div>
		<div class="card-body d-flex justify-content-around">
			<div id="war">
				<h3>WAR</h3>
				
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>Wars won:</strong>
						<?php echo $clanData["warWins"]; ?>
					</li>
					<li class="list-group-item">
						<strong>War win streak:</strong>
						<?php echo $clanData["warWinStreak"]; ?>
					</li>
					<li class="list-group-item">
						<strong>Wars drawn:</strong>
						<?php echo $clanData["warTies"]; ?>
					</li><li class="list-group-item">
						<strong>Wars lost:</strong>
						<?php echo $clanData["warLosses"]; ?>
					</li><li class="list-group-item">
						<strong>War frequency:</strong>
						<?php echo $clanData["warFrequency"]; ?>
					</li>
				</ul>
				
			</div>

			<div id="general">
				<img src="<?= $clanData["badgeUrls"]["medium"]; ?>" title="Clan Level: <?php echo $clanData["clanLevel"]; ?>" />
				<br/>
				<?php
				foreach ($labels as $label) {
				?>
				<img src="<?= $label["iconUrls"]["small"]; ?>" title="<?= $label["name"]; ?>"/>
				<?php
				}
				?>
				<br/>
				<strong>War League:</strong>
				<br/>
				<img src="<?= $warLeagueData["iconUrls"]["small"]; ?>" title="<?= $clanData["warLeague"]["name"] ?>" />
			</div>
			
			<div id="info">
				<h3>INFO</h3>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>Home Village Total Points:</strong>
						<?php echo $clanData["clanPoints"]; ?>
					</li>
					<li class="list-group-item">
						<strong>Builder Base Total Points:</strong>
						<?php echo $clanData["clanVersusPoints"]; ?>
					</li>
					<li class="list-group-item">
						<strong>Location:</strong>
						<?php echo $clanData["location"]["name"]; ?>
					</li>
					<li class="list-group-item">
						<strong>Type:</strong>
						<?php echo $clanData["type"]; ?>
					</li>
					<li class="list-group-item">
						<strong>Required Trophies:</strong>
						<?php echo $clanData["requiredTrophies"]; ?>
					</li>
				</ul>
			</div>
		</div>
		<div class="card-footer text-muted">
			<strong>Members:</strong>
			<?php echo $clanData["members"]; ?>/50
		</div>
	</div>

	<div class="membersTable">
		<table class="table table-hover" >
			<thead>
				<tr>
					<th>Rank</th>
					<th><img class="trophy" src="images/leagueIcon.png"/><br/>League</th>
					<th><img class="levelUp" src="images/level.png"/><br/>Level</th>
					<th>Player/<br/>Role</th>
					<th>Troops Donated</th>
					<th>Troops Received</th>
					<th><img class="trophy" src="images/trophies.png"/><br/>Home Village Trophies</th>
					<th><img class="versusTrophy" src="images/versusTrophies.png"/></br>Builder Base Trophies</th>
				</tr>
			</thead>
			<?php
			foreach ($members as $member) {
			?>
				<tr>
				<td><?php echo $member["clanRank"]; ?></td>
				<td><img src="<?php echo $member["league"]["iconUrls"]["tiny"]; ?>" alt="<?php echo $member["league"]["name"]; ?>"/></td>
				<td><img class="levelUp" src="images/level.png"/><?php echo $member["expLevel"]; ?></td>
				<td><?php echo "<b>", $member["name"], "</b><br/>", $member["role"]; ?></td>
				<td>Donated:<br/><?php echo $member["donations"]; ?></td>
				<td>Received:<br/><?php echo $member["donationsReceived"]; ?></td>
				<td><?php echo $member["trophies"]; ?><img class="trophy" src="images/trophies.png"/></td>
				<td><?php echo $member["versusTrophies"]; ?><img class="versusTrophy" src="images/versusTrophies.png"/></td>
				</tr>
			<?php
			}
			?>
		</table>
	</div>

	
</div>