<div id="api">

	<div class="card text-center">
		<div class="card-header">
			<h1><?= $clanData["name"] ?></h1>
			<p>"<?= $clanData["description"] ?>"</p>
			<p class="text-muted"><?= $clanData["tag"]; ?></p>
		</div>
		<div class="card-body d-flex justify-content-around">
			<div id="war">
				<h3>WAR</h3>
				<strong>League:</strong>
				<br/>
				<img src="<?= $warLeagueData["iconUrls"]["small"]; ?>" />
				<br/>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>Wars won:</strong>
						<?php echo $clanData["warWins"]; ?>
					</li>
					<li class="list-group-item">
						<strong>War win streak:</strong>
						<?php echo $clanData["warWinStreak"]; ?>
					</li>
					<li class="list-group-item">
						<strong>Wars drawn:</strong>
						<?php echo $clanData["warTies"]; ?>
					</li><li class="list-group-item">
						<strong>Wars lost:</strong>
						<?php echo $clanData["warLosses"]; ?>
					</li><li class="list-group-item">
						<strong>War frequency:</strong>
						<?php echo $clanData["warFrequency"]; ?>
					</li>
				</ul>
				
			</div>

			<div id="general">
				<img src="<?= $clanData["badgeUrls"]["medium"]; ?>"  />
				<br/>
				<?php
				foreach ($labels as $label) {
				?>
				<img src="<?= $label["iconUrls"]["small"]; ?>" title="<?= $label["name"]; ?>"/>
				<?php
				}
				?>
			</div>
			
			<div id="info">
				<h3>INFO</h3>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>Members:</strong>
						<?php echo $clanData["members"]; ?>/50
					</li>
					<li class="list-group-item">
						<strong>Home Village Total Points:</strong>
						<?php echo $clanData["clanPoints"]; ?>
					</li>
					<li class="list-group-item">
						<strong>Builder Base Total Points:</strong>
						<?php echo $clanData["clanVersusPoints"]; ?>
					</li>
					<li class="list-group-item">
						<strong>Location:</strong>
						<?php echo $clanData["location"]["name"]; ?>
					</li>
					<li class="list-group-item">
						<strong>Type:</strong>
						<?php echo $clanData["type"]; ?>
					</li>
					<li class="list-group-item">
						<strong>Required Trophies:</strong>
						<?php echo $clanData["requiredTrophies"]; ?>
					</li>
				</ul>
			</div>
		</div>
		<div class="card-footer text-muted">
		</div>
	  </div>


	<table border="1">
	<?php
	foreach ($members as $member) {
	?>
		<tr>
		<td><?php echo $member["clanRank"]; ?></td>
		<td><img src="<?php echo $member["league"]["iconUrls"]["tiny"]; ?>" alt="<?php echo $member["league"]["name"]; ?>"/></td>
		<td><?php echo $member["expLevel"]; ?></td>
		<td><?php echo "<b>", $member["name"], "</b><br/>", $member["role"]; ?></td>
		<td>Donated:<br/><?php echo $member["donations"]; ?></td>
		<td>Received:<br/><?php echo $member["donationsReceived"]; ?></td>
		<td><?php echo $member["trophies"]; ?></td>
		</tr>
	<?php
	}
	?>
	</table>
</div>