<div id="preguntas">
	<h2>Preguntas</h2>
	<div class="accordion" id="accordionExample">
		<div class="card">
		  <div class="card-header" id="pregunta1">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?
			  </button>
			</h2>
		  </div>
	  
		  <div id="collapseOne" class="collapse" aria-labelledby="pregunta1" data-parent="#accordionExample">
			<div class="card-body">
				<div class="alert alert-info" role="alert">
					Ajax es muy importante para el desarrollo de las RIA's ya que es la tecnología que permite que la interactividad sea extremadamente rápida y 
					que parezca una aplicación de escritorio. Esto se logra gracias a que Ajax permite hacer llamadas asíncronas a la base de datos para solo recuperar 
					y recargar una parte específica de la página web.
				</div> 
			</div>
			
		  </div>
		</div>
		<div class="card">
		  <div class="card-header" id="pregunta2">
			<h2 class="mb-0">
			  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?
			  </button>
			</h2>
		  </div>
		  <div id="collapseTwo" class="collapse" aria-labelledby="pregunta2" data-parent="#accordionExample">
			<div class="card-body">
				<div class="alert alert-info" role="alert">
					Las valoraciones de seguridad tienen que seguir realizandose del lado del servidor por medio de controladores php con htmlspecialchars() y 
					del lado del cliente con validaciones de js o con regex de los inputs para asegurarse que lo que manda el usuario es correcto.
				</div> 
			</div>
		  </div>
		</div>
		<div class="card">
			<div class="card-header" id="pregunta2">
			  <h2 class="mb-0">
				<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					¿Qué es JSON?
			  </h2>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="pregunta2" data-parent="#accordionExample">
			  <div class="card-body">
				  <div class="alert alert-info" role="alert">
					  JSON o JavaScript Object Notation por sus siglas en inglés, es un formato de texto ligero de intercambio de información. Es fácil de leer y escribir 
					  para humanos y fácil de interpretar y generar para computadoras por lo que es un formato muy utilizado para intercambiar información.[1]
					  <br/>
					  Está compuesto de dos estructuras:
					  <ul>
						  <li>Una colección de pares de nombres y valores</li>
						  <li>Una lista ordenada de valores</li>
					  </ul>
				  </div> 
			  </div>
			</div>
		  </div>
</div>
<hr/>